.card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    margin: 35px 0;
    min-width: 300px;
}
.card > p {
    text-align: center;
}
.header{
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}
.para{
    color: var(--opaqueBlack);
    padding: 0 32px;
    font-size: 15px;
    line-height: 25px;
}